<div class="py-5 px-2.5">
    <div class="w-80 rounded-xl shadow-sm bg-slate-100">
        <div class="p-3 space-y-2">
            <img class="w-80 bg-orange-200 p-3 rounded-md" src="images/mysql-logo.png">
            <div class="font-bold text-gray-600 font-head text-xl">Data Definition Language</div>
            <p class="font-body text-gray-400 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis similique facilis corrupti, est impedit quo, neque error voluptas sapiente excepturi quia nisi atque? Tenetur aspernatur ratione odio doloremque accusamus soluta!</p>
            <button type="button"
                class="text-white font-body bg-sky-500 hover:bg-sky-600 font-medium rounded-lg md:text-lg w-full p-2.5">
                Selengkapnya
            </button>
        </div>
    </div>
</div>