<div class="py-4 px-2">
    <div class="w-80 rounded-xl shadow-sm bg-slate-100">
        <div class="p-3 space-y-2">
            <img class="w-80 bg-amber-300 p-3 rounded-md" src="images/mysql-logo.png">
            <div class="font-bold text-gray-600 font-headline text-xl">Data Definition Language</div>
            <p class="text-gray-400 font-body text-base">
                DDL (Data Definition Language) adalah bahasa yang digunakan untuk mengatur struktur database, termasuk
                membuat, mengubah, dan menghapus tabel, serta mengatur hak akses ke database. Contoh perintah DDL adalah
                CREATE, ALTER, dan DROP..
            </p>
            <button type="button"
                class="text-white font-body bg-sky-500 hover:bg-sky-600 font-medium rounded-lg md:text-lg w-full p-2.5">
                Selengkapnya
            </button>
        </div>
    </div>
</div>