<div class="relative">
    <nav class="bg-slate-100 p-4 shadow-md fixed top-0 left-0 right-0">
        <div class="flex items-center justify-between">
            <img class="block h-8 w-auto lg:hidden"
                src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            <img class="hidden h-8 w-auto lg:block"
                src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            <div class="space-x-4">
                <a href="/" class="bg-blue-500 text-white rounded-lg font-body px-4 py-2"
                    aria-current="true">Beranda</a>
                <a href="/exercise" class="hover:bg-slate-200 hover:text-blue-500 rounded-lg font-body px-4 py-2"
                    aria-current="true">Latihan</a>
                <a href="/about" class="hover:bg-slate-200 hover:text-blue-500 rounded-lg font-body px-4 py-2"
                    aria-current="true">Tentang</a>
            </div>
        </div>
    </nav>
</div>