<div class="relative">
    <nav class="bg-slate-600 py-2 px-4 shadow-md fixed top-0 left-0 right-0">
        <div class="flex items-center justify-between">
            <img class="h-8 w-auto lg:block" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500">
            <ul class="flex flex-row space-x-8 font-body">
                <li class="p-2 text-slate-400 hover:text-slate-200">
                    <a href="/">Beranda</a>
                </li>
                <li class="p-2 text-slate-400 hover:text-slate-200">
                    <a href="/exercise">Latihan</a>
                </li>
                <li class="p-2 text-slate-400 hover:text-slate-200">
                    <a href="/about">Tentang</a>
                </li>
            </ul>
        </div>
    </nav>
</div>