<div class="relative">
    <nav class="bg-slate-600 py-2 px-4 shadow-lg fixed top-0 left-0 right-0 z-50">
        <div class="flex items-center justify-between">
            <img class="h-auto w-12 bg-slate-300 rounded-xl" src="images/coding_programming_language.svg">
            <ul class="flex flex-row space-x-10 font-body">
                <li class="py-2 transition ease-linear text-slate-300 hover:text-slate-50 duration-300">
                    <a href="/">Beranda</a>
                </li>
                <li class="py-2 transition ease-linear text-slate-300 hover:text-slate-50 duration-300">
                    <a href="/exercise">Materi</a>
                </li>
                <li class="py-2 transition ease-linear text-slate-300 hover:text-slate-50 duration-300">
                    <a href="/about">Tentang</a>
                </li>
            </ul>
            <img class="h-auto w-12 bg-slate-300 rounded-xl" src="images/coding_programming_language.svg">
        </div>
    </nav>
</div>