<nav class="bg-white p-4 shadow-sm">
    <div class="flex justify-between items-center">
        <div class="flex flex-shrink-0 items-center space-x-6">
            <img class="block h-8 w-auto lg:hidden"
                src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            <img class="hidden h-8 w-auto lg:block"
                src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            <div class="space-x-2">
                <a href="/" class="bg-blue-600 text-white rounded-md font-medium px-4 py-2 text-sm"
                    aria-current="true">Beranda</a>
                <a href="/history"
                    class="hover:bg-slate-200 hover:text-blue-600 rounded-md font-medium px-4 py-2 text-sm">Riwayat</a>
                <a href="/exercise"
                    class="hover:bg-slate-200 hover:text-blue-600 rounded-md font-medium px-4 py-2 text-sm">Latihan</a>
            </div>
        </div>

    </div>
</nav>