<div class="sticky">
    <nav class="bg-slate-600 py-2 md:px-12 px-4 shadow-lg top-0 left-0 right-0 z-50">
        <div class="flex items-center justify-between">
            <img class="h-auto w-8 bg-slate-300 rounded-lg md:rounded-xl md:w-12"
                src="images/coding_programming_language.svg">
            <ul class="flex flex-row md:space-x-10 space-x-6 font-body">
                <li class="py-2 transition ease-linear text-slate-300 hover:text-slate-50 duration-300">
                    <a href="/">Beranda</a>
                </li>
                <li class="py-2 transition ease-linear text-slate-300 hover:text-slate-50 duration-300">
                    <a href="/material">Materi</a>
                </li>
                <li class="py-2 transition ease-linear text-slate-300 hover:text-slate-50 duration-300">
                    <a href="/about">Tentang</a>
                </li>
            </ul>
        </div>
    </nav>
</div>