<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="md:columns-2 md:-mt-10 columns-1 mt-36">
  <!-- Left Columns -->
  <div class="md:ml-16 md:items-center md:h-screen md:p-0 flex items-center justify-center">
    <div class="relative flex">
      <div class="absolute md:w-72 md:h-w-72 w-48 h-48 rounded-full -right-10 -top-10 bg-sky-300 blur-2xl"></div>
      <div class="absolute md:w-72 md:h-w-72 w-48 h-48 rounded-full -left-10 -bottom-10 bg-sky-300 blur-2xl"></div>
      <div
        class="transition ease-in-out delay-150 rounded-full z-10 shadow-md bg-gradient-to-t from-sky-300 to-blue-600
        p-2 hover:scale-125">
        <img class="rounded-full md:w-56 w-48" src="images/bima_aditya.png" alt="Developer" />
      </div>
    </div>
  </div>
  <!-- Right Columns -->
  <div class="md:mr-32 md:items-center md:h-screen md:py-0 md:px-0 flex items-start justify-center py-16 px-8">
    <div class="z-30">
      <p class="text-lg font-body tracking-normal text-gray-400">
        Tentang Pengembang
      </p>
      <p class="text-2xl font-head font-black text-gray-600 py-2 md:text-4xl">
        Hi!, Saya
        <span class="bg-gradient-to-r from-sky-300 to-blue-600 bg-clip-text text-transparent">Bima
          Aditya</span>
      </p>
      <p class="font-body text-gray-500 text-justify md:text-lg">
        Perkenalkan saya Bima Aditya Anugrah Putra, akrab dipanggil Bima,
        mahasiswa Program Studi Pendidikan Teknologi Informasi dari Universitas Negeri Surabaya. Saya
        tertarik dengan dunia desain grafis khususnya desain antarmuka pengguna. Selain
        itu, saya dapat melakukan slicing desain ke bentuk program (Front-end
        Development).
      </p>
    </div>
  </div>
  <%- include('partials/footer') %>
</div>