<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="md:columns-2 columns-1">
  <!-- Left Columns -->
  <div class="md:ml-16 md:items-center md:h-screen md:p-0 flex items-center justify-center">
    <div class="relative flex">
      <div class="z-10">
        <img class="md:w-128 w-80" src="images/illustration_kids_studying.svg" alt="Illustration" />
      </div>
      <div class="absolute md:w-72 md:h-72 w-72 h-72 rounded-full right-4 top-4 bg-sky-300 blur-xl">
      </div>
      <div class="absolute md:w-72 md:h-72 w-72 h-72 rounded-full left-4 bottom-4 bg-sky-300 blur-xl">
      </div>
    </div>
  </div>
  <!-- Right Columns -->
  <div class="md:mr-16 md:items-center md:h-screen md:py-0 md:px-0 flex items-start justify-center px-8">
    <div class="z-30">
      <p class="text-lg font-body tracking-widest text-gray-400">Selamat Datang</p>
      <p class="text-2xl font-headline font-black text-gray-600 py-2 md:text-4xl">
        Belajar <span class="animate-text bg-gradient-to-r from-sky-300 to-blue-400 bg-clip-text text-transparent">MySQL</span>
        Jadi Mudah & Menyenangkan Bersama Platform Pembelajaran <span class="animate-text bg-gradient-to-r from-sky-300 to-blue-400 bg-clip-text text-transparent">e-SQL</span>
      </p>
      <p class="text-base font-body text-clip text-gray-400 md:text-lg md:pr-8">
        e-SQL adalah platform belajar yang akan membantu
        kamu untuk meningkatkan kemampuan MySQL. Jangan ragu untuk belajar di e-SQL dan mulai belajar MySQL sekarang
        juga!"
      </p>
      <div class="relative flex md:items-start md:py-4 py-4">
        <button onclick="location.href = 'material'" type="button" class="text-white font-body bg-sky-500 hover:bg-sky-600 rounded-lg md:text-lg md:w-max md:px-6 w-full p-3">Mulai Belajar</button>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>