@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Fira Sans';
        src: url('../fonts/FiraSans-Regular.ttf');

        font-family: 'Source Sans Pro';
        src: url('../fonts/SourceSansPro-Regular.ttf');
    }

    @layer components {
        .actives {
            @apply text-neutral-50 border-b-2 py-1 border-sky-400
            }
            
            /* For Webkit-based browsers (Chrome, Safari and Opera) */
            .scrollbar-hide::-webkit-scrollbar {
                display: none;
            }
            
            /* For IE, Edge and Firefox */
            .scrollbar-hide {
                -ms-overflow-style: none;
                /* IE and Edge */
                scrollbar-width: none;
                /* Firefox */
            }
    }
}