@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Fira Sans';
        src: url('../fonts/FiraSans-Regular.ttf');

        font-family: 'Source Sans Pro';
        src: url('../fonts/SourceSansPro-Regular.ttf');
    }

    @layer components {
        .actives {
            @apply text-neutral-50 border-b-4 py-2 border-cyan-200
        }
    }
}